<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Automaker Stock Price Analysis Post Tesla IPO</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /> <!-- Leaflet CSS -->
  <link rel="stylesheet" href="../style.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Automanufacturer stock price following the IPO of Tesla (2012-2022)
        </h2>
        <p>Explore the interactive charts below to understand the impact of Tesla's IPO on other automakers' stock
          prices</p>
        <p>!!</p>
      </div>
    </div>
    
  </div>
  

  </div>
  <div class="col-md-12 custom-height">
    <div id="map" style="height: 500px;"></div>
  </div>

      <div class="col-md-3">
        <div class="well">
          <h5>Select Automaker:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
    </div>
    
    <div class="col-md-10">
      <div id="line"></div>
      
    </div>
    <div class="col-md-5">
      <div id="bar"></div>
    </div>
  </div>
  </div>
  <!-- leaflet javascript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- loading infoMap.js -->
  <script type="text/javascript" src="../static/infoMap.js"></script>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/automakers.js"></script>



</body>

</html>